@font-face {
	font-family: 'Hk Grotesk';
	src: url(hk-grotesk.woff2), url(hk-grotesk.woff);
}

body {
	font-family: 'Hk Grotesk', Arial;
	font-size: 36px;
	line-height: 1.25;

	background-color: #ffffff;
	color: #333333;
}

div.progress {
	position: fixed;
	top: 0;
	left: 0;
	width: 0;
	height: 10px;
	background-color: #333333;
	z-index: 1;
	transition: background-color 0.5s;
}

div.progress.white {
	background-color: #ffffff;
}

header {
	/* position: fixed fixes the header to the browser window */
	position: fixed;
	top: 36px;
	left: 36px;
	z-index: 1;
	transition: color 0.5s;
}

header.white {
	color: #ffffff;
}

section {
	background-color: #c8dee0;
	min-height: 100vh;
	padding: 80px;

	display: flex;
	justify-content: center;
	align-items: center;
}

div.content {
	position: relative;
}

div.square {
	width: 100px;
	height: 100px;
	background-color: #d54156;

	position: absolute;
	top: 50px;
	left: -50px;
}

div.circle {
	width: 100px;
	height: 100px;
	background-color: #5982a0;
	position: absolute;
	bottom: 50px;
	right: -50px;
	border-radius: 50%;
}

div.content img {
	position: relative;
}

/* Section 2 settings */
section.s2 {
	background-color: #c5c5c5;
}

section.s2 div.square {
	background-color: #d6ac35;
}

section.s2 div.circle {
	background-color: #be3c52;
}

/* Section 3 settings */
section.s3 {
	background-color: #292121;
}

section.s3 div.square {
	background-color: #5f3736;
}

section.s3 div.circle {
	background-color: #6e5f67;
}

/* Section 4 settings */

section.s4 {
	background-color: #f3f1f2;
}

section.s4 div.square {
	background-color: #d54156;
}

section.s4 div.circle {
	background-color: #5982a0;
}
