@font-face {
  font-family: "Bluu Next";
  src: url(bluunext.woff2), url(bluunext.woff);
}

body {
	font-family: "Bluu Next", Times New Roman;
	font-size: 24px;
	line-height: 1.25;
	
	background-color: #edc7e9;
  background-image: linear-gradient(180deg, #ffffff, rgba(255, 255, 255, 0));
	color: #000;

  height:  100vh;
  transition:  background-color 0.5s;
}

h1 {
	font-size: 24px;
  margin: 10px 0;
}

h2 {
  font-size: 10vmin;
}

section {
  position:  fixed;
  top:  50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  text-align: center;
}

section div.circle {
  width: 20px;
  height: 20px;
  background-color: #3e78ed;
  border-radius: 50%;
  display: inline-block;
  transition:  background-color 0.5s;
}

section a {
  color:  #000000;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
}

footer img {
  margin: 0 10px;
  cursor:  pointer;
}





